/* Ensure the body has a black background and white text */
body {
  background-color: black;
  color: white;
  padding-top: 80px; /* Adjust this value based on the new height of your navbar */
}

/* Ensure the #root element spans the full height and maintains the background */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Override Bootstrap classes if necessary */
.bg-light {
  background-color: black !important;
}

.bg-white {
  background-color: black !important;
}

.text-light {
  color: white !important;
}

.navbar-brand img {
  margin-right: 10px; /* Space between logo and brand name */
}

.navbar-logo {
  width: 120px; /* Adjust the width to 200px */
  height: auto; /* Maintain aspect ratio */
}

/* Utility class for vertical spacing */

.mt-20 {
  margin-top: 20px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-60 {
  margin-top: 60px;
}

/*Added Stylization to the Home.jsx page*/

.Home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background-color: black;
  color: white;
  padding: 20px;
}

.header {
  flex: 1;
  text-align: right;
}

.header h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: gold;
  margin-bottom: 20px;
}

.main-content {
  text-align: center;
}

.main-content p {
  font-size: 1.2rem;
}

.header h2 {
  font-size: 1.5rem;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

/* Added stylization to the About.jsx page*/

.about {
  text-align: center;
  padding: 20px;
}

.header {
  margin-bottom: 20px;
}

h1 {
  font-size: 2.5rem;
  color: gold;
}

.content {
  text-align: center;
}

p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: white;
}
